#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.menu {
  border: 3px black solid;
}

.menu-buttons {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 1rem;
}